<form method="post" class="form-x dux-form form-auto" id="form" action="{U('performance')}">
    <div class="panel dux-box  active">
        <div class="panel-head">
            <strong>性能设置</strong>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="label">
                    <label for="sitename">模板缓存</label>
                </div>
                <div class="field">
                        <div class="button-group button-group-small radio">
                            <!--if{$info['TMPL_CACHE_ON']}-->
                            <label class="button active"><input name="TMPL_CACHE_ON" value="true" checked="checked" type="radio">
                            <!--{else}-->
                            <label class="button"><input name="TMPL_CACHE_ON" value="true" type="radio">
                            <!--{/if}-->
                            <span class="icon icon-check"></span> 开启</label>
                            <!--if{!$info['TMPL_CACHE_ON']}-->
                            <label class="button active"><input name="TMPL_CACHE_ON" checked="checked" value="false" type="radio">
                            <!--{else}-->
                            <label class="button"><input name="TMPL_CACHE_ON" value="false" type="radio">
                            <!--{/if}-->
                            <span class="icon icon-times"></span> 关闭</label>
                        </div>
                    
                <div class="input-note">网站上线后建议开启</div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">静态缓存</label>
                </div>
                <div class="field">
                        <div class="button-group button-group-small radio">
                            <!--if{$info['HTML_CACHE_ON']}-->
                            <label class="button active"><input name="HTML_CACHE_ON" value="true" checked="checked" type="radio">
                            <!--{else}-->
                            <label class="button"><input name="HTML_CACHE_ON" value="true" type="radio">
                            <!--{/if}-->
                            <span class="icon icon-check"></span> 开启</label>
                            <!--if{!$info['HTML_CACHE_ON']}-->
                            <label class="button active"><input name="HTML_CACHE_ON" checked="checked" value="false" type="radio">
                            <!--{else}-->
                            <label class="button"><input name="HTML_CACHE_ON" value="false" type="radio">
                            <!--{/if}-->
                            <span class="icon icon-times"></span> 关闭</label>
                        </div>
                    
                <div class="input-note">网站上线后建议开启</div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">SQL查询缓存</label>
                </div>
                <div class="field">
                        <div class="button-group button-group-small radio">
                            <!--if{$info['DB_SQL_BUILD_CACHE']}-->
                            <label class="button active"><input name="DB_SQL_BUILD_CACHE" value="true" checked="checked" type="radio">
                            <!--{else}-->
                            <label class="button"><input name="DB_SQL_BUILD_CACHE" value="true" type="radio">
                            <!--{/if}-->
                            <span class="icon icon-check"></span> 开启</label>
                            <!--if{!$info['DB_SQL_BUILD_CACHE']}-->
                            <label class="button active"><input name="DB_SQL_BUILD_CACHE" checked="checked" value="false" type="radio">
                            <!--{else}-->
                            <label class="button"><input name="DB_SQL_BUILD_CACHE" value="false" type="radio">
                            <!--{/if}-->
                            <span class="icon icon-times"></span> 关闭</label>
                        </div>
                    
                <div class="input-note">网站上线后建议开启</div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">URL访问模式</label>
                </div>
                <div class="field">
                    <select class="input" name="URL_MODEL" id="URL_MODEL">
                            <!--if{$info['URL_MODEL'] == 3}-->
                            <option value="3" selected>
                            <!--{else}-->
                            <option value="3">
                            <!--{/if}-->
                            动态模式</option>
                            <!--if{$info['URL_MODEL'] == 2}-->
                            <option value="2" selected>
                            <!--{else}-->
                            <option value="2">
                            <!--{/if}-->
                            伪静态模式</option>
                          </select>
                
                <div class="input-note">请确认已放置伪静态规则</div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">URL规则</label>
                </div>
                <div class="field">
                        <div class="button-group button-group-small radio">
                            <!--if{$info['URL_ROUTER_TYPE'] == 1}-->
                            <label class="button active"><input name="URL_ROUTER_TYPE" value="1" checked="checked" type="radio">
                            <!--{else}-->
                            <label class="button"><input name="URL_ROUTER_TYPE" value="1" type="radio">
                            <!--{/if}-->
                            <span class="icon icon-check"></span> ID</label>
                            <!--if{$info['URL_ROUTER_TYPE'] == 2}-->
                            <label class="button active"><input name="URL_ROUTER_TYPE" checked="checked" value="2" type="radio">
                            <!--{else}-->
                            <label class="button"><input name="URL_ROUTER_TYPE" value="2" type="radio">
                            <!--{/if}-->
                            <span class="icon icon-check"></span> URL</label>
                            <!--if{$info['URL_ROUTER_TYPE'] == 3}-->
                            <label class="button active"><input name="URL_ROUTER_TYPE" checked="checked" value="3" type="radio">
                            <!--{else}-->
                            <label class="button"><input name="URL_ROUTER_TYPE" value="3" type="radio">
                            <!--{/if}-->
                            <span class="icon icon-check"></span> 长URL</label>
                            <!--if{$info['URL_ROUTER_TYPE'] == 4}-->
                            <label class="button active"><input name="URL_ROUTER_TYPE" checked="checked" value="4" type="radio">
                            <!--{else}-->
                            <label class="button"><input name="URL_ROUTER_TYPE" value="4" type="radio">
                            <!--{/if}-->
                            <span class="icon icon-check"></span> URL + ID</label>
                            
                        </div>
                    <div class="input-note">开启伪静态后生效</div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">规则说明</label>
                </div>
                <div class="field">
                    <blockquote>
                     <strong>ID模式</strong>
                      <p>如：127.0.0.1/class/id.html 、 127.0.0.1/content/id.html，数字ID变动。</p>
                      <strong>URL模式</strong>
                      <p>如：127.0.0.1/class/自定义.html (栏目)、 127.0.0.1/content/自定义.html，自定义为添加栏目内容时设置的URL。</p>
                      <strong>长URL模式</strong>
                      <p>如：127.0.0.1/class/自定义.html (栏目)、 127.0.0.1/class/栏目自定义/内容自定义.html，自定义为添加栏目内容时设置的URL。</p>
                      <strong>URL + ID</strong>
                      <p>如：127.0.0.1/class/自定义.html (栏目)、 127.0.0.1/class/栏目自定义/id.html，自定义为添加栏目内容时设置的URL。</p>
                      
                    </blockquote>
                </div>
            </div>
            
        </div>
        <div class="panel-foot">
            <div class="form-button">
                <div id="tips"></div>
                <button class="button bg-main" type="submit">保存</button>
                <button class="button bg" type="reset">重置</button>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        $('#form').duxForm();
    });
</script>