<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DuxCms安装向导</title>
<link href="__PUBLIC__/install/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/install/css/style.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/install/js/install.js"></script>
</head>
<body>
<div class="g-install">
  <div class="m-head">
    <h1>DuxCms安装进行中</h1>
  </div>
  <div class="m-body">
  	<div class="m-log">
    	
    </div>
  </div>
  <div class="m-foot"> 
  	<a href="javascript:;">安装中...</a>
  </div>
</div>
</body>
</html>