<h3>{$name}页面</h3>
<admin:form url="{:U()}" method="post" id="form" >
  <div class="g-main-body">
    <div class="g-main-content m-form-horizontal">
      <admin:panel >
        <admin:formrow title="上级栏目" tip="当前栏目的上级栏目">
          <select name="parent_id" class="form-element">
            <option value="0">==顶级栏目==</option>
            <foreach name="categoryList" item="vo"> <option value="{$vo.class_id}"
              
              <if condition="$info['parent_id'] == $vo['class_id']"> selected="selected" </if>
              >{$vo.cname}
              
              </option>
            </foreach>
          </select>
        </admin:formrow>
        <admin:formrow title="页面名称" tip="当前页面名称">
          <admin:text name="name" value="{$info.name}" len="250" datatype="*"  />
        </admin:formrow>
        <admin:formrow title="文章内容">
          <admin:textarea name="content" class="u-editor" rows="20">{$info.content|htmlspecialchars_decode}</admin:textarea>
        </admin:formrow>
        
        <admin:formrow title="栏目关键词" tip="当前栏目的关键词">
      <admin:text name="keywords"  value="{$info.keywords}" len="250" />
    </admin:formrow>
    <admin:formrow title="栏目描述" tip="当前栏目的描述信息" >
      <admin:textarea name="description" rows="5" >{$info.description}</admin:textarea>
    </admin:formrow>
        <admin:formsubmit/>
      </admin:panel>
    </div>
  </div>
  <div class="g-main-sidebar">
  	<admin:panel title="形象图" icon="plus" padding="true">
        <div class="u-thumbnail">
        <if condition="empty($info['image'])">
        <img id="content_image" src="__PUBLIC__/admin/images/placeholder.jpg" width="270" alt="">
        <else/>
        <img id="content_image" src="{$info.image}" width="270" alt="">
        </if>
        </div>
        <admin:text name="image" type="text" value="{$info.image}" len="250" width="medium" />
        <a class="u-btn u-btn-primary" data="image" href="javascript:;" id="upload">上传</a>
    </admin:panel>
    <admin:panel title="其他属性" icon="plus" padding="true">
    	<admin:formrow title="子标题" tip="扩展标题的副标题信息">
          <admin:text name="subname"  value="{$info.subname}"  type="text" len="250" />
        </admin:formrow>
        <admin:formrow title="栏目URL" tip="设置URL规则后会生效">
          <admin:text name="urlname"  value="{$info.urlname}"  type="text" len="250" />
        </admin:formrow>
    	<admin:formrow title="栏目顺序" tip="栏目列表调用时的顺序，数字越小越靠前">
          <admin:text name="sequence"  value="{$info.sequence|default='1'}"  type="number" len="10" datatype="n" />
        </admin:formrow>
        <admin:formrow title="页面模板" tip="当前页面模板">
          <div class="input-group">
            <admin:text name="class_tpl"  value="{$info.class_tpl}" len="250" datatype="*" width="small" />
            <admin:assigndown target="#class_tpl" name="请选择" data="tplList"  item="name,file" class="u-width-small" />
          </div>
        </admin:formrow>
         <admin:formrow title="栏目状态" tip="隐藏后在调用栏目列表时不显示">
          <admin:radio name="show" item="显示,隐藏" value="1,0" checked="$info['show']" isset="1" />
        </admin:formrow>
    </admin:panel>
  </div>
  <admin:text name="class_id" type="hidden"  value="{$info.class_id}"  />
</admin:form>
</admin:panel>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').duxFormPage();
        //上传缩略图
        $('#upload').duxFileUpload({
            type: 'jpg,png,gif,bmp',
            complete: function (data) {
                $('#content_image').attr('src', data.url);
            }
        });
    }); 
</script>