<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>DUXCMS 2.0 - 网站后台管理</title>
    <link rel="stylesheet" href="__PUBLIC__/common/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css">
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/common/js/pintuer.js"></script>
    <script src="__PUBLIC__/common/js/respond.js"></script>
    <script src="__PUBLIC__/admin/js/admin.js"></script>
    <script>
    var baseDir='__PUBLIC__/js/';
    var rootUrl="__ROOT__/";
    var appUrl='__APP__/';
    var sessId='{session_id()}';
    </script>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/admin/js/admin.js"></script>
    <script src="__PUBLIC__/js/do.js"></script>
    <script src="__PUBLIC__/js/config.js"></script>
</head>
<body>
    <div class="dux-head clearfix">
        <div class="dux-logo">
            <a href="http://www.duxcms.com" target="_blank">
                <img src="__PUBLIC__/admin/images/logo.png" alt="DuxCms后台管理系统" />
            </a>
            <button class="button icon-navicon admin-nav-btn" data-target=".admin-nav"></button>
            <button class="button icon-navicon icon-ellipsis-v admin-menu-btn" data-target=".admin-menu"></button>
        </div>
        <div class="dux-nav">
            <ul class="nav  nav-navicon nav-inline admin-nav">
               <!--loop{ $menuList['list'] as $vo }-->
               <!--if{$vo['cur']}-->
               <li class="active">
               <!--{else}-->
               <li>
               <!--{/if}-->
               <!--if{$vo['url']}-->
               <a href="{$vo.url}" class="icon-{$vo.icon}"> {$vo.name}</a></li>
               <!--{/if}-->
               
               <!--{/loop}-->
            </ul>
            <ul class="nav  nav-navicon nav-menu nav-inline admin-nav nav-tool">
               <li> <a href="__ROOT__/" target="_blank" class="icon-home"></a></li>
                <li> <a href="{U('Admin/AdminUser/edit',array('user_id'=>$loginUserInfo['user_id']))}" class="icon-user"></a></li>
                <li> <a href="{U('Admin/Login/logout')}" class="dux-logout bg-red icon-power-off"></a></li>
            </ul>
        </div>
    </div>
    <div class="dux-sidebar">
        <ul class="nav  nav-navicon admin-menu">
            <div class="nav-head">{$menuList.curList.name}</div>
               <!--loop{ $menuList['curList']['menu'] as $vo }-->
               <!--if{$vo['cur']}-->
               <li class="active">
               <!--{else}-->
               <li>
               <!--{/if}-->
               <a href="{$vo.url}" class="icon-{$vo.icon}"> {$vo.name}</a></li>
               <!--{/loop}-->
        </ul>
    </div>
    <div class="dux-bread">
        <ul class="bread">
            <li><a href="{U('Admin/Index/index')}" class="icon-home"> 开始</a>
            </li>
            <!--loop{ $breadCrumb as $name => $url }-->
            <li><a href="{$url}">{$name}</a></li>
            <!--{/loop}-->
        </ul>
    </div>
    
    <div class="dux-admin">
        
        <div class="dux-tools">
            <div class="bread-head">{$infoModule.info.name}
                <span class="small">{$infoModule.info.description}</span>
            </div>
            <!--if{$infoModule['menu']}-->
            <br>
            <div class="tools-function clearfix">
                <div class="float-left">
                   <!--loop{ $infoModule['menu'] as $vo }-->
                   <!--if{($vo['url'] == $self) || ($vo['url'] == $url)  || (stristr($vo['url'],U()))}-->
                    <a class="button button-small bg-main icon-{$vo.icon}" href="{$vo.url}">
                    <!--{else}-->
                    <a class="button button-small bg-back icon-{$vo.icon}" href="{$vo.url}">
                    <!--{/if}-->
                     {$vo.name}</a>
                    <!--{/loop}-->
                </div>
                <!--if{$infoModule['add']}-->
                <div class="button-group float-right">
                    <a class="button button-small bg-dot icon-plus dropdown-toggle"> 添加 <span class="downward"></span></a> 
                    <ul class="drop-menu pull-right">
                       <!--loop{$infoModule['add'] as $vo }-->
                        <li><a href="{$vo.url}">{$vo.name}</a></li>
                        <!--{/loop}-->
                    </ul>
                </div>
                <!--{/if}-->
            </div>
            <!--{/if}-->
        </div>
        <br>
        <!--common-->
    </div>
</body>
</html>